<p class="P1">The intellectual history of the machine</p>
<p class="P1"></p>
<p class="P1">[From the blurb] The digital age began in 1746. We wouldn't be surfing the Internet if Abbé Nollet hadn't had not discovered the immediate effect of electricity. Had it not been for Joseph-Marie Jacquard invented the automated loom and Charles Babbage with his Analytical Machine did not lay the foundation stone for today's computer. </p>
<p class="P1">Martin Burckhardt shows: Mathematics is not the driving force behind digitalization, but human
Wishes and desires. This book is an invitation not to think of the computer as a device, but as a parlour game that will shape our future. A philosophical view of digital progress.</p>