<p class="P1">Die Geistesgeschichte der Maschine</p>
<p class="P1"></p>
<p class="P1">[Klappentext] Das digitale Zeitalter begann 1746. Wir würden nicht im Internet surfen, hätte Abbé Nollet nicht die Sofortwirkung von Elektrizität entdeckt. Hätte Joseph-Marie Jacquard nicht
den automatisierten Webstuhl erfunden und Charles Babbage mit seiner Analytischen Maschine nicht den Grundstein für unseren heutigen Computer gelegt.</p> 
<p class="P1">Martin Burckhardt zeigt: Nicht die Mathematik treibt die Digitalisierung voran, sondern menschliche Wünsche und Sehnsüchte. Dieses Buch ist eine Einladung, den Computer nicht als Gerät zu
denken, sondern als Gesellschaftsspiel, das unsere Zukunft prägen wird. Eine philosophische Betrachtung des digitalen Fortschritts.</p>
